<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198255891103-a1u8ma2b47cbd7s22c36rrlj4uo480p7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198255891103-a1u8ma2b47cbd7s22c36rrlj4uo480p7</string>
	<key>API_KEY</key>
	<string>AIzaSyBmjAc_fYeESIgVaFM1C_ijjVse7mK02v0</string>
	<key>GCM_SENDER_ID</key>
	<string>198255891103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.intrivo.stage</string>
	<key>PROJECT_ID</key>
	<string>intrivo-b0c2e</string>
	<key>STORAGE_BUCKET</key>
	<string>intrivo-b0c2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198255891103:ios:d14fda6c5390be44eb48aa</string>
</dict>
</plist>